.headline{
    font-size:30px;font-weight:bold;
    margin-bottom:15px;
}
.desktop-menu{
    text-align:center;
    display:block;
}
.mobile-menu{
    text-align:center;
    display:none;
}
.list{
    display:flex;
    justify-content:center;
}
.product{
    flex:none; width:280px; margin:10px;
    background-color:#ffcccc;
}
@media (max-width:1250px){
    /*螢幕寬度小於1250px, 套用這個區塊的 CSS*/
    .list{
        flex-wrap:wrap;
    }
    .product{
        width:45%;
    }
}
@media (max-width:500px){
    /*螢幕寬度小於500px, 套用這個區塊的 CSS*/
    .headline{
        font-size:20px;
    }
    .desktop-menu{
        display:none;
    }
    .mobile-menu{
        display:block;
    }
    .product{
        width:90%;
    }
}
