.frame{
    display:flex;
}
.left{
    flex:none
    width:200px;
}
.right{
    display:flex;
    justify-content:flex-end;
    flex:auto;
}
.item{
    flex:none;
    width:100px;
    margin-right:10px;
    text-align:center;
}
